{% extends "index.html" %}
{% block title %}
    <title>Plag_Checker | History</title>
{% endblock %}
{% block body %}
<div class="container-fluid mt-2 mb-2 rounded p-3" style="background-color:rgb(218, 250, 290);">
    <h2 class="text-center">History Page</h2>
</div>
<div class="container-fluid overflow-auto mb-2" style="height:450px; background-color:#e9bcbc">
    <div class="table-responsive p-3">
        <table class="table">
            <tr>
                <th>Date & Time</th>
                <th>Plagiarism Percentage</th>
                <th>File_Name/Text</th>
            </tr>
            {% for i in history %}
            <tr>
                <td>{{i.0}}</td>
                <td>{{i.1}} %</td>
                <td>{{i.2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>

{% endblock %}