<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mysite || Galary</title>
    <link rel="stylesheet" href='{% static '/css/mycss.css' %}'>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">about us</a></li>
        <li><a href="">domestic</a></li>
        <li><a href="">International</a></li>
        <li><a href="">Place</a></li>
        <li><a href="">packages</a></li>
        <li><a href="">contact Us</a></li>
    </ul><br>
    <ol>
        <li><img src="{% static "/css/img/1.jpg" %}"></li>
        <li><img src="{% static "/css/img/5.jpg" %}"></li>
        <li><img src="{% static "/css/img/3.jpg" %}"></li>
    </ol>
    </br>
    <div class="abc">
        <center><h1>OUR SERVICES</h1></center><br>
        <center><p>
            At Jingle Holiday bazar, we are comitted to ensuring that you on every trip and every holiday booking you make us by bringing to you the best price seals; be its flights ;tours or hotels .Our unique
        </p></center>
    </div>
    <br>
    </br>
    <div class="card">
        <div class="container">
            <center><img src="{% static "" %}"><center>
          <center><h2><b>Jingle holiday bazar homestays</b></h2></center></br>
          <center><h4>Book villa,Appartments and Resorts</h4></center>
          <p>Jingle Holiday Bazar.com ventured into Homestays in India in 2015, and is providing great homestay experiences to its customers as well as benefits to its hosts. If you are looking for a holiday with a difference, want to closely savour the local flavours of a place, and prefer the</p>
        </div>
      </div>
    </br>
    <div class="card">
        <div class="container">
            <center><img src="{% static "" %}"><center>
          <center><h2><b>Jingle Holiday Bazar Hotels</b></h2></center></br>
          <center><h4>Book Hotels with Jingle Holiday Bazar.com</h4></center>
          <p>We are back in the post-pandemic world with a bouquet of hotels across Indian cities ranging from leisure to business ones with a new outlook. Jingle Holiday Bazar who has always been on the forefront of assuring a comfortable stay which is a bang for your bucks, is offering you online hotel booking that guarantees you hygienic, sanitised rooms across hotels in India. Explore a raft of interesting features such as Clean Pass stays, travel again offers and long stay discounts encouraging you to travel again, make your hotel booking while keeping your anxieties at bay.
          </p>
        </div>
      </div>
    </br>
    <div class="card">
        <div class="container">
            <center><img src="{% static "" %}"><center>
          <center><h2><b>Jingle Holiday Bazar flights</b></h2></center></br>
          <center><h4>Why to book Flights Online with Jingle Holiday Bazar.com</h4></center>
          <p>Purchasing flight tickets and confirming your flight booking is the key aspect of planning a trip. Now whether you are travelling for business or on leisure, you cannot make an itinerary until you have first and foremost booked your flights. Procuring an air ticket is a mandatory first step</p>
        </div>
      </div>
      <br>
      <div class="abc">
        <center><h1>POPULAR DESTINATION INTERNATIONAL</h1></center><br>
        <center><p>Mother Earth along with mankind have co-created some of the most spectacular places on this planet.
            From sprawling cities to spectacular national parks, it is hard to keep your bucket list stagnant. Keeping in mind
            iconic attractions, culture, food and ease of travel, these are the best places in the world to visit!
        </p></center>
    </div>
</body>
</html>